<table>
  <tr>
    <th>{{title}}</th>
    <th>Latest Commit Date</th>
    <th>Repo is Working Date</th>
    <th>Repo is Broken Date</th>
  </tr>
  <tr>
    <th></th>
    <th>{{format-date-time commitDate}}</th>
    <th>{{format-date-time repoWorkingDate}}</th>
    <th>{{format-date-time repoBrokenDate}}</th>
  </tr>
  {{#each dependencies as |dep|}}
    {{dependency-row
      module=dep.module
      version=dep.version
      versionsPromise=dep.versionsPromise
      repoWorkingDate=repoWorkingDate
      repoBrokenDate=repoBrokenDate
    }}
  {{/each}}
</table>
