{{#each dependencies as |dependency|}}
  <!-- <tr>
    <td>&nbsp;&nbsp;{{dependency.module}}</td>
    <td>{{dependency.firstVersionHint}}</td>
    <td>{{dependency.secondVersionHint}}</td>
    <td>test</td>
    <td>test</td>
  </tr> -->
  <!-- {{dependency-row
    dependency=dependency
    nestingLevel=nestingLevel
    repoWorkingDate=repoWorkingDate
    repoBrokenDate=repoBrokenDate
    stopCrawling=stopCrawling
    shouldOnlyShowDifferent=shouldOnlyShowDifferent
    doneCrawling="doneCrawling"
  }} -->
{{/each}}
{{error}}
