{{#unless shouldHideRow}}
  <tr class="dependency-row {{module}} depth-{{nestingLevel}}">
    <td class="module">
      {{#each nestingItems}}
        <span class="nesting-item">&nbsp;</span>
      {{/each}}
      {{module}}
      {{#if versionsError}}
        Error getting versions: {{versionsError}}
      {{/if}}
    </td>
    <td class="first-version-hint">
      {{version-display
        firstVersionHint
        isMissing=isFirstVersionHintMissing
        isOneMissing=isOneHintMissing
        areVersionsDifferent=areVersionHintsDifferent
        areVersionsDifferentClass="hints-are-different"
      }}
      {{#if firstDependenciesError}}
        <span class="error">Error getting dependencies: {{firstDependenciesError}}</span>
      {{/if}}
    </td>
    <td class="second-version-hint">
      {{version-display
        secondVersionHint
        isMissing=isSecondVersionHintMissing
        isOneMissing=isOneHintMissing
        areVersionsDifferent=areVersionHintsDifferent
        areVersionsDifferentClass="hints-are-different"
      }}
      {{#if secondDependenciesError}}
        <span class="error">Error getting dependencies: {{secondDependenciesError}}</span>
      {{/if}}
    </td>
    <td class="first-version">
      {{version-display
        firstVersion
        isMissing=isFirstVersionMissing
        isOneMissing=isOneMissing
        areVersionsDifferent=areVersionsDifferent
        areVersionsDifferentClass="versions-are-different"
      }}
      {{#if hasFirstCircularReference}}
        <span class="circular-reference">circular reference</span>
      {{/if}}
    </td>
    <td class="second-version">
      {{version-display
        secondVersion
        isMissing=isSecondVersionMissing
        isOneMissing=isOneMissing
        areVersionsDifferent=areVersionsDifferent
        areVersionsDifferentClass="versions-are-different"
      }}
      {{#if hasFirstCircularReference}}
        <span class="circular-reference">circular reference</span>
      {{/if}}
    </td>
  </tr>
  {{#each dependencies as |dependency|}}
    {{dependency-row
      dependency=dependency
      nestingLevel=childNestingLevel
      shouldOnlyShowDifferent=shouldOnlyShowDifferent
    }}
  {{/each}}
{{/unless}}