{{#each dependencies as |dependency|}}
  <!-- <tr class="dependency-row {{dependency.module}}">
    <td class="module" style="padding-left: {{nestingLevel}}em;">{{dependency.module}}</td>
    <td class="first-version-hint">{{dependency.firstVersionHint}}</td>
    <td class="second-version-hint">{{dependency.secondVersionHint}}</td>
    <td>test</td>
    <td>test</td>
  </tr> -->
  {{dependency-row
    dependency=dependency
    nestingLevel=nestingLevel
    repoWorkingDate=repoWorkingDate
    repoBrokenDate=repoBrokenDate
    stopCrawling=stopCrawling
    shouldOnlyShowDifferent=shouldOnlyShowDifferent
    doneCrawling="doneCrawling"
  }}
{{/each}}
{{error}}
