{{#unless shouldHideRow}}
  <tr class="dependency-row {{module}} depth-{{nestingLevel}}">
    <td class="module" style="padding-left: {{nestingLevel}}em;">
      {{module}}
    </td>
    <td class="first-version-hint">
      {{#unless hasFirstCircularReferenceFromParent}}
        {{version-display
          firstVersionHint
          isMissing=isFirstVersionHintMissing
          isOneMissing=isOneMissing
          areVersionsDifferent=areVersionHintsDifferent
          areVersionsDifferentClass="hints-are-different"
        }}
      {{/unless}}
    </td>
    <td class="second-version-hint">
      {{#unless hasSecondCircularReferenceFromParent}}
        {{version-display
          secondVersionHint
          isMissing=isSecondVersionHintMissing
          isOneMissing=isOneMissing
          areVersionsDifferent=areVersionHintsDifferent
          areVersionsDifferentClass="hints-are-different"
        }}
      {{/unless}}
    </td>
    <td class="first-version">
      {{#unless hasFirstCircularReferenceFromParent}}
        {{version-display
          firstVersion
          isMissing=isFirstVersionHintMissing
          isOneMissing=isOneMissing
          areVersionsDifferent=areVersionsDifferent
          areVersionsDifferentClass="versions-are-different"
        }}
        {{#if hasFirstCircularReference}}
          <span class="circular-reference">circular reference</span>
        {{/if}}
        {{error}}
      {{/unless}}
    </td>
    <td class="second-version">
      {{#unless hasSecondCircularReferenceFromParent}}
        {{version-display
          secondVersion
          isMissing=isSecondVersionHintMissing
          isOneMissing=isOneMissing
          areVersionsDifferent=areVersionsDifferent
          areVersionsDifferentClass="versions-are-different"
        }}
        {{#if hasFirstCircularReference}}
          <span class="circular-reference">circular reference</span>
        {{/if}}
        {{error}}
      {{/unless}}
    </td>
  </tr>
  {{#unless hasBothCircularReference}}
    {{dependency-nest
      module=module
      incomingNestingLevel=nestingLevel
      repoWorkingDate=repoWorkingDate
      repoBrokenDate=repoBrokenDate
      firstVersion=firstVersion
      secondVersion=secondVersion
      parentDependencies=childDependencies
      hasFirstCircularReference=hasFirstCircularReference
      hasSecondCircularReference=hasSecondCircularReference
      stopCrawling=stopCrawling
      shouldOnlyShowDifferent=shouldOnlyShowDifferent
      doneCrawling="doneCrawling"
    }}
  {{/unless}}
{{/unless}}
