{{#each dependencies as |dep|}}
  <!-- <tr>
    <td>&nbsp;&nbsp;{{dep.module}}</td>
    <td>{{dep.firstVersionHint}}</td>
    <td>{{dep.secondVersionHint}}</td>
    <td>test</td>
    <td>test</td>
  </tr> -->
  <!-- {{dependency-row
    module=dep.module
    firstVersionHint=dep.firstVersionHint
    secondVersionHint=dep.secondVersionHint
    nestingLevel=nestingLevel
    repoWorkingDate=repoWorkingDate
    repoBrokenDate=repoBrokenDate
    stopCrawling=stopCrawling
  }} -->
{{/each}}
{{error}}
