{{#unless shouldHideRow}}
  <tr class="dependency-row {{module}}">
    <td class="module" style="{{if nestingLevel (concat "padding-left: " nestingLevel "em;")}}">
      {{module}}
    </td>
    <td class="first-version-hint">
      {{version-display
        firstVersionHint
        isMissing=isFirstVersionHintMissing
        isOneMissing=isOneMissing
        areVersionsDifferent=areVersionHintsDifferent
        areVersionsDifferentClass="hints-are-different"
      }}
    </td>
    <td class="second-version-hint">
      {{version-display
        secondVersionHint
        isMissing=isSecondVersionHintMissing
        isOneMissing=isOneMissing
        areVersionsDifferent=areVersionHintsDifferent
        areVersionsDifferentClass="hints-are-different"
      }}
    </td>
    <td class="first-version">
      {{version-display
        firstVersion
        isMissing=isFirstVersionHintMissing
        isOneMissing=isOneMissing
        areVersionsDifferent=areVersionsDifferent
        areVersionsDifferentClass="versions-are-different"
      }}
      {{error}}
    </td>
    <td class="second-version">
      {{version-display
        secondVersion
        isMissing=isSecondVersionHintMissing
        isOneMissing=isOneMissing
        areVersionsDifferent=areVersionsDifferent
        areVersionsDifferentClass="versions-are-different"
      }}
      {{error}}
    </td>
  </tr>
  {{dependency-nest
    module=module
    incomingNestingLevel=nestingLevel
    repoWorkingDate=repoWorkingDate
    repoBrokenDate=repoBrokenDate
    firstVersion=firstVersion
    secondVersion=secondVersion
    stopCrawling=stopCrawling
    shouldOnlyShowDifferent=shouldOnlyShowDifferent
    doneCrawling="doneCrawling"
  }}
{{/unless}}
