<table>
  <tr>
    <th>{{title}}</th>
    <th>Latest Commit Date</th>
    <th>Repo as of Date</th>
    <th>Date Went Bad</th>
  </tr>
  <tr>
    <th></th>
    <th>{{format-date-time commitDate}}</th>
    <th>{{format-date-time repoDate}}</th>
    <th>{{format-date-time dateWentBad}}</th>
  </tr>
  {{#each dependencies as |dep|}}
    {{dependency-row
      module=dep.module
      version=dep.version
      versionsPromise=dep.versionsPromise
      repoDate=repoDate
      dateWentBad=dateWentBad
    }}
  {{/each}}
</table>
