<table>
  <tr>
    <th class="group-title">{{title}}</th>
    <th>First Commit Date</th>
    <th>Second Commit Date</th>
    <th>Repo is Working Date</th>
    <th>Repo is Broken Date</th>
  </tr>
  <tr>
    <th></th>
    <th class="first-commit-date">{{format-date-time firstCommitDate}}</th>
    <th class="second-commit-date">{{format-date-time secondCommitDate}}</th>
    <th class="repo-working-date">{{format-date-time repoWorkingDate}}</th>
    <th class="repo-broken-date">{{format-date-time repoBrokenDate}}</th>
  </tr>
  {{#each dependencies as |dependency|}}
    {{dependency-row
      dependency=dependency
      shouldOnlyShowDifferent=shouldOnlyShowDifferent
    }}
  {{/each}}
</table>