<table>
  <tr>
    <td>Repo URL</td>
    <td>
      <input value="{{repoUrl}}" onchange={{action "changeRepoUrl" value="target.value"}} />
    </td>
    <td>{{repo}}</td>
  </tr>
  <tr>
    <td>Repo is Working Date</td>
    <td>
      {{date-time-picker
        repoWorkingDate
        action="changeRepoWorkingDate"
      }}
    </td>
    <td>
      {{firstCommitError}}
      {{repoWorkingDateError}}
      {{#if firstCommit}}
        Latest commit {{firstCommit}}
      {{/if}}
    </td>
  </tr>
  <tr>
    <td>Repo is Broken Date</td>
    <td>
      {{date-time-picker
        repoBrokenDate
        action="changeRepoBrokenDate"
      }}
    </td>
    <td>
      {{#if areDatesOutOfOrder}}
        Broken date must be after working date
      {{else}}
        {{secondCommitError}}
        {{repoBrokenDateError}}
        {{#if secondCommit}}
          Latest commit {{secondCommit}}
        {{/if}}
      {{/if}}
    </td>
  </tr>
</table>
{{#if shouldShowTable}}
  {{#if isDoneCrawling}}
    Done crawling
  {{else}}
    <button {{action 'toggleCrawling'}}>
      {{if stopCrawling "Start Crawling" "Stop Crawling"}}
    </button>
  {{/if}}
  <label>
    {{one-way-checkbox
      value=shouldOnlyShowDifferent
      update=(action (mut shouldOnlyShowDifferent))
    }}
    Only show different
  </label>
  {{#each dependencyGroups as |dependencyGroup|}}
    {{dependency-table
      dependencyGroup=dependencyGroup
      firstCommitDate=firstCommitDate
      secondCommitDate=secondCommitDate
      repoWorkingDate=repoWorkingDate
      repoBrokenDate=repoBrokenDate
      stopCrawling=stopCrawling
      shouldOnlyShowDifferent=shouldOnlyShowDifferent
      doneCrawling="doneCrawling"
    }}
  {{/each}}
{{/if}}
