<table>
  <tr>
    <td>Repo URL</td>
    <td>
      <input value="{{repoUrl}}" onchange={{action "changeRepoUrl" value="target.value"}} />
    </td>
    <td>{{repo}}</td>
  </tr>
  <tr>
    <td>Repo as of Date</td>
    <td>
      {{date-time-picker repoDate action="changeRepoDate"}}
    </td>
    <td>Latest commit {{commit}}</td>
  </tr>
  <tr>
    <td>Date Went Bad</td>
    <td>
      {{date-time-picker dateWentBad action="changeDateWentBad"}}
    </td>
    <td></td>
  </tr>
</table>
{{#each dependencyGroups as |dep|}}
  {{dependency-table
    title=dep.title
    commitDate=commitDate
    repoDate=_repoDate
    dateWentBad=_dateWentBad
    dependencies=dep.dependencies
  }}
{{/each}}
