<table>
  <tr>
    <td>Repo URL</td>
    <td>
      <input value="{{repoUrl}}" onchange={{action "changeRepoUrl" value="target.value"}} />
    </td>
    <td>{{repo}}</td>
  </tr>
  <tr>
    <td>Repo is Working Date</td>
    <td>
      {{date-time-picker repoWorkingDate action="changeRepoWorkingDate"}}
    </td>
    <td>
      {{#if commit}}
        Latest commit {{commit}}
      {{/if}}
    </td>
  </tr>
  <tr>
    <td>Repo is Broken Date</td>
    <td>
      {{date-time-picker repoBrokenDate action="changeRepoBrokenDate"}}
    </td>
    <td></td>
  </tr>
</table>
{{#each dependencyGroups as |dep|}}
  {{dependency-table
    title=dep.title
    commitDate=commitDate
    repoWorkingDate=_repoWorkingDate
    repoBrokenDate=_repoBrokenDate
    dependencies=dep.dependencies
  }}
{{/each}}
