<table>
  <tr>
    <td>Repo URL</td>
    <td>
      <input class="repo-url" value="{{repoUrl}}" onchange={{action "changeRepoUrl" value="target.value"}} />
    </td>
    <td>
      {{#if isRepoUrlInvalid}}
        <span class="repo-error">Could not parse Repo URL: {{repoUrl}}</span>
      {{else}}
        <span class="repo">{{repo}}</span>
      {{/if}}
    </td>
  </tr>
  {{repo-date-row
    class="repo-working-date"
    title="Repo is Working Date"
    repoDate=repoWorkingDate
    repoDateError=repoWorkingDateError
    commit=firstCommit
    commitDate=firstCommitDate
    commitError=firstCommitError
    changeRepoDate=(action "changeRepoWorkingDate")
  }}
  {{repo-date-row
    class="repo-broken-date"
    title="Repo is Broken Date"
    repoDate=repoBrokenDate
    repoDateError=repoBrokenDateError
    commit=secondCommit
    commitDate=secondCommitDate
    commitError=secondCommitError
    changeRepoDate=(action "changeRepoBrokenDate")
  }}
  {{#if areDatesOutOfOrder}}
    <tr class="dates-out-of-order">Broken date must be after working date</tr>
  {{/if}}
</table>
{{#if shouldShowTables}}
  <div class="crawling-section">
    {{#if isDoneCrawling}}
      <span class="done-crawling">Done crawling</span>
    {{else}}
      <button class="stop-crawling" {{action "toggleCrawling"}}>
        {{if stopCrawling "Start Crawling" "Stop Crawling"}}
      </button>
    {{/if}}
    Number different: {{numberOfDifferences}}
    {{checkbox-with-label
      shouldOnlyShowDifferent
      "Only show different"
      update=(action shouldOnlyShowDifferentUpdated)
    }}
    {{#each dependencyGroups as |dependencyGroup|}}
      {{dependency-table
        dependencyGroup=dependencyGroup
        firstCommitDate=firstCommitDate
        secondCommitDate=secondCommitDate
        repoWorkingDate=repoWorkingDate
        repoBrokenDate=repoBrokenDate
        shouldOnlyShowDifferent=shouldOnlyShowDifferent
      }}
    {{/each}}
  </div>
{{/if}}
