<table>
  <tr>
    <td>Repo URL</td>
    <td>
      <input value="{{repoUrl}}" onchange={{action "changeRepoUrl" value="target.value"}} />
    </td>
    <td>{{repo}}</td>
  </tr>
  <tr>
    <td>Repo is Working Date</td>
    <td>
      {{dependency-date
        repoWorkingDate
        repo=repo
        dateChanged="changeRepoWorkingDate"
        foundCommitData="updateFirstCommitData"
        receivedJson="updateFirstJson"
      }}
    </td>
    <td>
      {{#if firstCommit}}
        Latest commit {{firstCommit}}
      {{/if}}
    </td>
  </tr>
  <tr>
    <td>Repo is Broken Date</td>
    <td>
      {{dependency-date
        repoBrokenDate
        repo=repo
        dateChanged="changeRepoBrokenDate"
        foundCommitData="updateSecondCommitData"
        receivedJson="updateSecondJson"
      }}
    </td>
    <td>
      {{#if areDatesOutOfOrder}}
        Broken date must be after working date
      {{else}}
        {{#if secondCommit}}
          Latest commit {{secondCommit}}
        {{/if}}
      {{/if}}
    </td>
  </tr>
</table>
{{#if shouldShowTable}}
  {{#if isDoneCrawling}}
    Done crawling
  {{else}}
    <button {{action 'toggleCrawling'}}>{{toggleCrawlingText}}</button>
  {{/if}}
  {{#each dependencyGroups as |dep|}}
    {{dependency-table
      dep=dep
      firstCommitDate=firstCommitDate
      secondCommitDate=secondCommitDate
      repoWorkingDate=_repoWorkingDate
      repoBrokenDate=_repoBrokenDate
      stopCrawling=stopCrawling
      doneCrawling="doneCrawling"
    }}
  {{/each}}
{{/if}}
